name: bats

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  GO_VERSION: "1.25"
  K8S_VERSION: "v1.34.0"
  KIND_VERSION: "v0.30.0"
  IMAGE_NAME: registry.k8s.io/networking/dranet
  KIND_CLUSTER_NAME: kind

jobs:
  bats_tests:
    runs-on: ubuntu-22.04
    name: Bats e2e tests
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Bats and bats libs
        id: setup-bats
        uses: bats-core/bats-action@42fcc8700f773c075a16a90eb11674c0318ad507 # 3.0.1
        with:
          support-path: ${{ github.workspace }}/tests/test_helper/bats-support
          assert-path: "${{ github.workspace }}/tests/test_helper/bats-assert"
      - name: Bats tests
        shell: bash
        env:
         BATS_LIB_PATH: ${{ steps.setup-bats.outputs.lib-path }}
         TERM: xterm
        run: bats -o _artifacts --print-output-on-failure tests/

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: kind-logs-${{ env.JOB_NAME }}-${{ github.run_id }}
          path: ./_artifacts
 